In [ ]:
# Function to load data from CSV file
def load_data():
    with open('expense_data_1.csv', 'r') as file:
        lines = file.readlines()
    
    header = lines[0].strip().split(',')
    data_rows = [line.strip().split(',') for line in lines[1:]]
    
    data = []
    for row in data_rows:
        entry = {header[i]: row[i] for i in range(len(header))}
        entry["INR"] = float(entry["INR"])
        entry["Amount"] = float(entry["Amount"])
        data.append(entry)
    
    return header, data

# Task 1: Print first 5 rows of the dataset
def print_first_5_rows(data):
    print("\nFirst 5 rows of the dataset:")
    for i in range(min(5, len(data))):
        print(data[i])

# Task 2: Create and print tuples of dates and categories
def create_and_print_tuples(data):
    dates_tuple = tuple(entry["Date"] for entry in data)
    categories_tuple = tuple(entry["Category"] for entry in data)
    print("Tuple of Dates:", dates_tuple)
    print("Tuple of Categories:", categories_tuple)

# Task 3: Find maximum and minimum amounts
def find_max_min_amount(data):
    amounts_tuple = tuple(entry["Amount"] for entry in data)
    max_amount = max(amounts_tuple)
    min_amount = min(amounts_tuple)
    print("Maximum Amount in the Tuple:", max_amount)
    print("Minimum Amount in the Tuple:", min_amount)

# Task 4: Count transactions by category
def count_transactions_by_category(data):
    category_counts = {}
    for entry in data:
        category = entry["Category"]
        if category in category_counts:
            category_counts[category] += 1
        else:
            category_counts[category] = 1
    
    print("Number of Transactions in Each Category:")
    for category, count in category_counts.items():
        print(f"{category}: {count}")

# Task 5: Print unique categories
def print_unique_categories(data):
    unique_categories = set(entry["Category"] for entry in data)
    print("Unique Categories:", unique_categories)

# Task 6: Print unique dates
def print_unique_dates(data):
    unique_dates = set(entry["Date"].split()[0] for entry in data)
    print("Unique Dates:", unique_dates)

# Task 7: Print total amount for a specific category
def print_total_amount_by_category(data, category):
    total_amount = sum(entry["Amount"] for entry in data if entry["Category"] == category)
    print(f"Total amount for category '{category}': {total_amount}")

# Task 8: Find transactions above a certain amount
def print_transactions_above_amount(data, amount):
    transactions = [entry for entry in data if entry["Amount"] > amount]
    if transactions:
        print(f"Transactions above {amount}:")
        for transaction in transactions:
            print(transaction)
    else:
        print(f"No transactions found above {amount}.")

# Task 9: Calculate the total amount of all transactions
def calculate_total_amount(data):
    total_amount = sum(entry["Amount"] for entry in data)
    print(f"Total Amount of All Transactions: {total_amount}")


# Task 10: Calculate the average amount of all transactions
def calculate_average_amount(data):
    total_amount = sum(entry["Amount"] for entry in data)
    average_amount = total_amount / len(data)
    print(f"Average Amount of All Transactions: {average_amount}")

# Main function with the menu-driven interface
def main():
    header, data = load_data()
    
    while True:
        print("\nMenu:")
        print("1. Print first 5 rows of the dataset")
        print("2. Create and print tuples of dates and categories")
        print("3. Find maximum and minimum amounts")
        print("4. Count transactions by category")
        print("5. Print unique categories")
        print("6. Print unique dates")
        print("7. Print total amount for a specific category")
        print("8. Find transactions above a certain amount")
        print("9. Calculate the total amount of all transactions")
        print("10. Calculate the average amount of all transactions")
        print("11. Exit")
        
        choice = input("Enter your choice (1-11): ")
        
        if choice == '1':
            print_first_5_rows(data)
        elif choice == '2':
            create_and_print_tuples(data)
        elif choice == '3':
            find_max_min_amount(data)
        elif choice == '4':
            count_transactions_by_category(data)
        elif choice == '5':
            print_unique_categories(data)
        elif choice == '6':
            print_unique_dates(data)
        elif choice == '7':
            category = input("Enter the category: ")
            print_total_amount_by_category(data, category)
        elif choice == '8':
            amount = float(input("Enter the amount: "))
            print_transactions_above_amount(data, amount)
        elif choice == '9':
            calculate_total_amount(data)
        elif choice == '10':
            calculate_average_amount(data)
        elif choice == '11':
            print("Exiting the program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 11.")

# Run the main function
if __name__ == "__main__":
    main()

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  1

First 5 rows of the dataset:
{'Date': '3/2/2022 10:11', 'Account': '50', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 50.0, 'Income/Expense': 'Expense', 'Amount': 50.0, 'Currency': 'INR'}
{'Date': '3/2/2022 10:11', 'Account': '300', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 300.0, 'Income/Expense': 'Expense', 'Amount': 300.0, 'Currency': 'INR'}
{'Date': '3/1/2022 19:50', 'Account': '78', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 78.0, 'Income/Expense': 'Expense', 'Amount': 78.0, 'Currency': 'INR'}
{'Date': '3/1/2022 18:56', 'Account': '30', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 30.0, 'Income/Expense': 'Expense', 'Amount': 30.0, 'Currency': 'INR'}
{'Date': '3/1/2022 18:22', 'Account': '67', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 67.0, 'Income/Expense': 'Expense', 'Amount': 67.0, 'Currency': 'INR'}

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  2

Tuple of Dates: ('3/2/2022 10:11', '3/2/2022 10:11', '3/1/2022 19:50', '3/1/2022 18:56', '3/1/2022 18:22', '3/1/2022 18:22', '3/1/2022 18:21', '2/28/2022 11:56', '2/28/2022 11:45', '2/27/2022 15:29', '2/26/2022 20:16', '2/26/2022 17:37', '2/26/2022 17:37', '2/26/2022 16:01', '2/26/2022 14:07', '2/26/2022 1:39', '2/25/2022 12:08', '2/24/2022 22:32', '2/24/2022 22:21', '2/24/2022 19:15', '2/23/2022 17:35', '2/23/2022 16:06', '2/23/2022 12:38', '2/22/2022 6:33', '2/21/2022 22:15', '2/21/2022 16:06', '2/21/2022 15:40', '2/21/2022 15:38', '2/20/2022 15:24', '2/19/2022 23:03', '2/19/2022 21:57', '2/19/2022 21:35', '2/19/2022 20:45', '2/19/2022 20:45', '2/19/2022 8:26', '2/19/2022 6:27', '2/19/2022 6:18', '2/18/2022 23:01', '2/17/2022 13:11', '2/16/2022 16:57', '2/16/2022 16:57', '2/13/2022 21:54', '2/12/2022 21:20', '2/12/2022 16:04', '2/12/2022 14:48', '2/12/2022 14:47', '2/11/2022 22:41', '2/10/2022 20:15', '2/8/2022 10:37', '2/8/2022 9:18', '2/7/2022 7:08', '2/6/2022 18:32', '2/6/2022 17:53', '2/6/2022 17:52', '2/6/2022 16:41', '2/6/2022 16:40', '2/4/2022 20:28', '2/3/2022 14:53', '2/3/2022 8:59', '2/2/2022 20:15', '2/2/2022 20:14', '1/31/2022 8:44', '1/31/2022 8:27', '1/31/2022 8:26', '1/30/2022 19:17', '1/30/2022 19:01', '1/30/2022 12:28', '1/29/2022 21:56', '1/29/2022 14:44', '1/28/2022 21:58', '1/28/2022 14:23', '1/27/2022 21:25', '1/27/2022 13:41', '1/27/2022 13:41', '1/27/2022 13:39', '1/27/2022 13:38', '1/27/2022 13:38', '1/26/2022 17:45', '1/26/2022 17:45', '1/26/2022 16:52', '1/25/2022 13:35', '1/25/2022 10:23', '1/25/2022 9:20', '1/24/2022 20:17', '1/24/2022 14:08', '1/23/2022 21:45', '1/23/2022 21:41', '1/23/2022 21:29', '1/23/2022 21:29', '1/23/2022 21:29', '1/23/2022 21:27', '1/23/2022 21:27', '1/23/2022 21:27', '1/21/2022 14:22', '1/21/2022 11:47', '1/21/2022 11:47', '1/19/2022 14:27', '1/18/2022 20:54', '1/18/2022 17:10', '1/18/2022 13:51', '1/18/2022 12:59', '1/18/2022 12:59', '1/17/2022 18:31', '1/15/2022 21:17', '1/15/2022 21:16', '1/15/2022 21:16', '1/14/2022 16:58', '1/14/2022 16:56', '1/14/2022 16:56', '1/14/2022 16:55', '1/14/2022 16:54', '1/14/2022 16:54', '1/13/2022 20:46', '1/13/2022 19:10', '1/13/2022 17:47', '1/12/2022 22:44', '1/12/2022 13:25', '1/12/2022 13:25', '1/11/2022 14:07', '1/10/2022 14:04', '1/8/2022 13:46', '1/8/2022 13:45', '1/8/2022 13:38', '1/7/2022 13:51', '1/6/2022 21:30', '1/6/2022 20:58', '1/6/2022 20:13', '1/6/2022 14:22', '1/6/2022 11:48', '1/5/2022 20:23', '1/5/2022 14:46', '1/5/2022 14:42', '1/5/2022 14:42', '1/5/2022 14:39', '1/5/2022 14:37', '1/5/2022 14:35', '1/5/2022 14:30', '1/4/2022 22:11', '1/4/2022 22:10', '1/4/2022 13:53', '1/4/2022 8:01', '1/4/2022 7:58', '1/3/2022 22:15', '1/3/2022 21:54', '1/3/2022 21:12', '1/3/2022 21:11', '1/3/2022 14:31', '1/3/2022 14:30', '1/2/2022 20:33', '1/2/2022 20:32', '1/2/2022 14:16', '1/1/2022 21:46', '1/1/2022 21:45', '12/30/2021 14:10', '12/30/2021 13:56', '12/30/2021 13:36', '12/30/2021 12:43', '12/30/2021 12:38', '12/30/2021 12:37', '12/30/2021 11:45', '12/30/2021 11:45', '12/30/2021 11:45', '12/30/2021 11:44', '12/28/2021 13:42', '12/27/2021 13:45', '12/27/2021 13:44', '12/27/2021 12:33', '12/27/2021 12:33', '12/25/2021 22:53', '12/25/2021 20:46', '12/25/2021 19:50', '12/25/2021 17:01', '12/25/2021 15:35', '12/25/2021 13:32', '12/24/2021 21:49', '12/24/2021 14:35', '12/23/2021 16:31', '12/23/2021 13:51', '12/21/2021 20:53', '12/21/2021 14:02', '12/21/2021 11:43', '12/20/2021 19:23', '12/20/2021 19:22', '12/20/2021 16:55', '12/20/2021 15:29', '12/20/2021 13:35', '12/20/2021 9:46', '12/19/2021 15:51', '12/18/2021 21:01', '12/18/2021 21:01', '12/18/2021 21:00', '12/18/2021 21:00', '12/18/2021 19:52', '12/18/2021 19:51', '12/18/2021 14:19', '12/17/2021 18:54', '12/17/2021 14:45', '12/17/2021 8:35', '12/16/2021 18:44', '12/16/2021 18:35', '12/16/2021 13:38', '12/16/2021 10:42', '12/14/2021 23:54', '12/14/2021 21:21', '12/14/2021 21:03', '12/14/2021 15:18', '12/14/2021 10:33', '12/12/2021 21:47', '12/11/2021 9:22', '12/11/2021 8:20', '12/10/2021 21:38', '12/10/2021 20:55', '12/9/2021 20:03', '12/9/2021 14:01', '12/9/2021 9:56', '12/9/2021 8:47', '12/8/2021 14:15', '12/8/2021 14:15', '12/8/2021 7:17', '12/7/2021 9:54', '12/7/2021 7:59', '12/6/2021 21:59', '12/6/2021 20:07', '12/6/2021 19:57', '12/6/2021 14:08', '12/5/2021 19:45', '12/5/2021 18:41', '12/5/2021 12:23', '12/5/2021 12:23', '12/4/2021 21:05', '12/4/2021 20:20', '12/4/2021 13:54', '12/4/2021 10:13', '12/3/2021 21:59', '12/3/2021 21:59', '12/3/2021 21:28', '12/3/2021 21:28', '12/3/2021 21:28', '12/2/2021 20:07', '12/2/2021 19:48', '12/1/2021 19:57', '12/1/2021 14:00', '11/30/2021 14:24', '11/30/2021 14:17', '11/30/2021 10:11', '11/29/2021 20:47', '11/29/2021 20:47', '11/29/2021 20:09', '11/29/2021 9:29', '11/28/2021 19:59', '11/28/2021 13:10', '11/27/2021 23:14', '11/27/2021 22:34', '11/27/2021 18:41', '11/27/2021 13:46', '11/27/2021 13:46', '11/27/2021 9:33', '11/26/2021 21:56', '11/26/2021 20:57', '11/26/2021 20:15', '11/26/2021 14:14', '11/26/2021 14:14', '11/26/2021 9:22', '11/25/2021 20:27', '11/25/2021 20:27', '11/25/2021 20:27', '11/24/2021 19:26', '11/24/2021 19:23', '11/24/2021 19:06', '11/24/2021 19:06', '11/23/2021 22:53', '11/23/2021 22:53', '11/22/2021 14:16', '11/22/2021 14:16', '11/21/2021 17:07', '11/21/2021 15:50', '11/21/2021 13:30')
Tuple of Categories: ('Food', 'Other', 'Food', 'Transportation', 'Food', 'Other', 'Other', 'Food', 'Other', 'Food', 'Food', 'Other', 'Other', 'Social Life', 'Food', 'Food', 'Food', 'Household', 'Food', 'Food', 'Apparel', 'Food', 'Apparel', 'Transportation', 'Transportation', 'Transportation', 'Household', 'Transportation', 'Food', 'Food', 'Food', 'Transportation', 'Transportation', 'Food', 'Transportation', 'Other', 'Transportation', 'Food', 'Food', 'Food', 'Food', 'Social Life', 'Food', 'Household', 'Food', 'Other', 'Food', 'Food', 'Other', 'Household', 'Transportation', 'Food', 'Food', 'Transportation', 'Other', 'Other', 'Food', 'Food', 'Other', 'Food', 'Other', 'Transportation', 'Other', 'Transportation', 'Food', 'Food', 'Food', 'Transportation', 'Other', 'Food', 'Food', 'Transportation', 'Other', 'Other', 'Food', 'Other', 'Other', 'Food', 'Other', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Other', 'Food', 'Social Life', 'Other', 'Food', 'Food', 'Other', 'Food', 'Food', 'Food', 'Food', 'Other', 'Other', 'Food', 'Transportation', 'Other', 'Food', 'Other', 'Other', 'Other', 'Other', 'Other', 'Food', 'Food', 'Other', 'Transportation', 'Other', 'Food', 'Other', 'Food', 'Food', 'Other', 'Food', 'Household', 'Food', 'Other', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Other', 'Other', 'Food', 'Other', 'Other', 'Transportation', 'Food', 'Education', 'Salary', 'Food', 'Other', 'Food', 'Food', 'Other', 'Other', 'Other', 'Food', 'Other', 'Other', 'Food', 'Transportation', 'Food', 'Allowance', 'Food', 'Transportation', 'Other', 'Food', 'Transportation', 'Other', 'Food', 'Other', 'Transportation', 'Other', 'Food', 'Food', 'Other', 'Other', 'Food', 'Food', 'Transportation', 'Self-development', 'Food', 'Food', 'Food', 'Social Life', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Food', 'Food', 'Food', 'Other', 'Other', 'Other', 'Food', 'Allowance', 'Other', 'Social Life', 'Food', 'Food', 'Food', 'Other', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Allowance', 'Other', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Apparel', 'Apparel', 'Food', 'Food', 'Apparel', 'Household', 'Allowance', 'Food', 'Food', 'Other', 'Food', 'Food', 'Apparel', 'Apparel', 'Food', 'Allowance', 'Food', 'Food', 'Beauty', 'Food', 'Gift', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Allowance', 'Food', 'Food', 'Food', 'Food', 'Petty cash', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Food', 'Food', 'Food', 'Transportation', 'Transportation', 'Food', 'Food', 'Food', 'Transportation', 'Food', 'Other')

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  3

Maximum Amount in the Tuple: 10000.0
Minimum Amount in the Tuple: 3.0

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  4

Number of Transactions in Each Category:
Food: 156
Other: 60
Transportation: 31
Social Life: 5
Household: 6
Apparel: 7
Education: 1
Salary: 1
Allowance: 6
Self-development: 1
Beauty: 1
Gift: 1
Petty cash: 1

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  5

Unique Categories: {'Other', 'Transportation', 'Education', 'Salary', 'Beauty', 'Social Life', 'Food', 'Self-development', 'Gift', 'Petty cash', 'Household', 'Allowance', 'Apparel'}

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  6

Unique Dates: {'1/14/2022', '2/17/2022', '12/5/2021', '2/7/2022', '1/31/2022', '2/11/2022', '2/21/2022', '1/28/2022', '1/3/2022', '12/2/2021', '2/20/2022', '1/10/2022', '12/25/2021', '1/21/2022', '12/18/2021', '2/23/2022', '1/25/2022', '1/1/2022', '11/22/2021', '2/28/2022', '2/27/2022', '12/6/2021', '11/27/2021', '12/1/2021', '2/12/2022', '12/12/2021', '3/2/2022', '1/2/2022', '11/29/2021', '2/25/2022', '1/12/2022', '1/4/2022', '12/27/2021', '2/6/2022', '11/25/2021', '2/4/2022', '1/30/2022', '1/8/2022', '1/27/2022', '1/24/2022', '11/24/2021', '2/13/2022', '2/22/2022', '12/19/2021', '12/9/2021', '12/30/2021', '12/17/2021', '12/11/2021', '3/1/2022', '1/15/2022', '1/18/2022', '2/24/2022', '12/20/2021', '12/16/2021', '11/26/2021', '2/19/2022', '11/23/2021', '12/3/2021', '12/7/2021', '12/4/2021', '12/8/2021', '1/5/2022', '12/24/2021', '2/10/2022', '1/23/2022', '12/28/2021', '12/10/2021', '1/17/2022', '1/29/2022', '12/23/2021', '2/18/2022', '2/8/2022', '2/3/2022', '11/21/2021', '2/26/2022', '1/26/2022', '1/13/2022', '1/19/2022', '12/14/2021', '2/2/2022', '1/11/2022', '1/6/2022', '2/16/2022', '11/28/2021', '11/30/2021', '1/7/2022', '12/21/2021'}

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  7
Enter the category:  food

Total amount for category 'food': 0

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  7
Enter the category:  Food

Total amount for category 'Food': 23396.760000000002

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  8
Enter the amount:  300

Transactions above 300.0:
{'Date': '3/1/2022 18:21', 'Account': '500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 500.0, 'Income/Expense': 'Income', 'Amount': 500.0, 'Currency': 'INR'}
{'Date': '2/28/2022 11:56', 'Account': '339.15', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 339.15, 'Income/Expense': 'Expense', 'Amount': 339.15, 'Currency': 'INR'}
{'Date': '2/26/2022 17:37', 'Account': '1500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1500.0, 'Income/Expense': 'Income', 'Amount': 1500.0, 'Currency': 'INR'}
{'Date': '2/26/2022 16:01', 'Account': '1700', 'Category': 'Social Life', 'Subcategory': '', 'Note': '', 'INR': 1700.0, 'Income/Expense': 'Expense', 'Amount': 1700.0, 'Currency': 'INR'}
{'Date': '2/24/2022 22:32', 'Account': '303', 'Category': 'Household', 'Subcategory': '', 'Note': '', 'INR': 303.0, 'Income/Expense': 'Expense', 'Amount': 303.0, 'Currency': 'INR'}
{'Date': '2/24/2022 19:15', 'Account': '324.7', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 324.7, 'Income/Expense': 'Expense', 'Amount': 324.7, 'Currency': 'INR'}
{'Date': '2/23/2022 17:35', 'Account': '399', 'Category': 'Apparel', 'Subcategory': '', 'Note': '', 'INR': 399.0, 'Income/Expense': 'Expense', 'Amount': 399.0, 'Currency': 'INR'}
{'Date': '2/23/2022 12:38', 'Account': '399', 'Category': 'Apparel', 'Subcategory': '', 'Note': '', 'INR': 399.0, 'Income/Expense': 'Expense', 'Amount': 399.0, 'Currency': 'INR'}
{'Date': '2/21/2022 22:15', 'Account': '1300', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 1300.0, 'Income/Expense': 'Expense', 'Amount': 1300.0, 'Currency': 'INR'}
{'Date': '2/21/2022 15:40', 'Account': '336', 'Category': 'Household', 'Subcategory': '', 'Note': '', 'INR': 336.0, 'Income/Expense': 'Expense', 'Amount': 336.0, 'Currency': 'INR'}
{'Date': '2/19/2022 21:35', 'Account': '1575', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 1575.0, 'Income/Expense': 'Expense', 'Amount': 1575.0, 'Currency': 'INR'}
{'Date': '2/19/2022 20:45', 'Account': '380', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 380.0, 'Income/Expense': 'Expense', 'Amount': 380.0, 'Currency': 'INR'}
{'Date': '2/18/2022 23:01', 'Account': '348', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 348.0, 'Income/Expense': 'Expense', 'Amount': 348.0, 'Currency': 'INR'}
{'Date': '2/16/2022 16:57', 'Account': '475', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 475.0, 'Income/Expense': 'Expense', 'Amount': 475.0, 'Currency': 'INR'}
{'Date': '2/12/2022 21:20', 'Account': '491', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 491.0, 'Income/Expense': 'Expense', 'Amount': 491.0, 'Currency': 'INR'}
{'Date': '2/12/2022 14:47', 'Account': '10000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 10000.0, 'Income/Expense': 'Income', 'Amount': 10000.0, 'Currency': 'INR'}
{'Date': '2/11/2022 22:41', 'Account': '373', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 373.0, 'Income/Expense': 'Expense', 'Amount': 373.0, 'Currency': 'INR'}
{'Date': '2/10/2022 20:15', 'Account': '641', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 641.0, 'Income/Expense': 'Expense', 'Amount': 641.0, 'Currency': 'INR'}
{'Date': '2/8/2022 10:37', 'Account': '1000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '2/8/2022 9:18', 'Account': '2099', 'Category': 'Household', 'Subcategory': '', 'Note': '', 'INR': 2099.0, 'Income/Expense': 'Expense', 'Amount': 2099.0, 'Currency': 'INR'}
{'Date': '2/6/2022 17:52', 'Account': '1000', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Expense', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '2/6/2022 16:41', 'Account': '5000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 5000.0, 'Income/Expense': 'Income', 'Amount': 5000.0, 'Currency': 'INR'}
{'Date': '2/6/2022 16:40', 'Account': '1500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1500.0, 'Income/Expense': 'Expense', 'Amount': 1500.0, 'Currency': 'INR'}
{'Date': '2/2/2022 20:14', 'Account': '500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 500.0, 'Income/Expense': 'Income', 'Amount': 500.0, 'Currency': 'INR'}
{'Date': '1/27/2022 13:38', 'Account': '1500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1500.0, 'Income/Expense': 'Income', 'Amount': 1500.0, 'Currency': 'INR'}
{'Date': '1/25/2022 9:20', 'Account': '325', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 325.0, 'Income/Expense': 'Expense', 'Amount': 325.0, 'Currency': 'INR'}
{'Date': '1/23/2022 21:41', 'Account': '465', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 465.0, 'Income/Expense': 'Expense', 'Amount': 465.0, 'Currency': 'INR'}
{'Date': '1/23/2022 21:29', 'Account': '302', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 302.0, 'Income/Expense': 'Expense', 'Amount': 302.0, 'Currency': 'INR'}
{'Date': '1/23/2022 21:29', 'Account': '310', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 310.0, 'Income/Expense': 'Income', 'Amount': 310.0, 'Currency': 'INR'}
{'Date': '1/23/2022 21:27', 'Account': '2000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 2000.0, 'Income/Expense': 'Income', 'Amount': 2000.0, 'Currency': 'INR'}
{'Date': '1/18/2022 20:54', 'Account': '301.15', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 301.15, 'Income/Expense': 'Expense', 'Amount': 301.15, 'Currency': 'INR'}
{'Date': '1/18/2022 12:59', 'Account': '1000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '1/15/2022 21:17', 'Account': '1365', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 1365.0, 'Income/Expense': 'Expense', 'Amount': 1365.0, 'Currency': 'INR'}
{'Date': '1/15/2022 21:16', 'Account': '1500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1500.0, 'Income/Expense': 'Income', 'Amount': 1500.0, 'Currency': 'INR'}
{'Date': '1/14/2022 16:56', 'Account': '340', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 340.0, 'Income/Expense': 'Income', 'Amount': 340.0, 'Currency': 'INR'}
{'Date': '1/14/2022 16:54', 'Account': '340', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 340.0, 'Income/Expense': 'Income', 'Amount': 340.0, 'Currency': 'INR'}
{'Date': '1/14/2022 16:54', 'Account': '1530', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 1530.0, 'Income/Expense': 'Expense', 'Amount': 1530.0, 'Currency': 'INR'}
{'Date': '1/13/2022 19:10', 'Account': '1000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '1/12/2022 22:44', 'Account': '479', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 479.0, 'Income/Expense': 'Expense', 'Amount': 479.0, 'Currency': 'INR'}
{'Date': '1/12/2022 13:25', 'Account': '301.75', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 301.75, 'Income/Expense': 'Expense', 'Amount': 301.75, 'Currency': 'INR'}
{'Date': '1/8/2022 13:45', 'Account': '535.3', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 535.3, 'Income/Expense': 'Expense', 'Amount': 535.3, 'Currency': 'INR'}
{'Date': '1/8/2022 13:38', 'Account': '4580', 'Category': 'Household', 'Subcategory': '', 'Note': '', 'INR': 4580.0, 'Income/Expense': 'Expense', 'Amount': 4580.0, 'Currency': 'INR'}
{'Date': '1/6/2022 21:30', 'Account': '440', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 440.0, 'Income/Expense': 'Income', 'Amount': 440.0, 'Currency': 'INR'}
{'Date': '1/6/2022 20:13', 'Account': '877.81', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 877.81, 'Income/Expense': 'Expense', 'Amount': 877.81, 'Currency': 'INR'}
{'Date': '1/5/2022 14:42', 'Account': '354', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 354.0, 'Income/Expense': 'Expense', 'Amount': 354.0, 'Currency': 'INR'}
{'Date': '1/5/2022 14:39', 'Account': '500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 500.0, 'Income/Expense': 'Expense', 'Amount': 500.0, 'Currency': 'INR'}
{'Date': '1/5/2022 14:37', 'Account': '500', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 500.0, 'Income/Expense': 'Expense', 'Amount': 500.0, 'Currency': 'INR'}
{'Date': '1/5/2022 14:30', 'Account': '388', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 388.0, 'Income/Expense': 'Expense', 'Amount': 388.0, 'Currency': 'INR'}
{'Date': '1/4/2022 22:11', 'Account': '1400', 'Category': 'Education', 'Subcategory': '', 'Note': '', 'INR': 1400.0, 'Income/Expense': 'Expense', 'Amount': 1400.0, 'Currency': 'INR'}
{'Date': '1/4/2022 22:10', 'Account': '8000', 'Category': 'Salary', 'Subcategory': '', 'Note': '', 'INR': 8000.0, 'Income/Expense': 'Income', 'Amount': 8000.0, 'Currency': 'INR'}
{'Date': '1/2/2022 14:16', 'Account': '725', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 725.0, 'Income/Expense': 'Expense', 'Amount': 725.0, 'Currency': 'INR'}
{'Date': '1/1/2022 21:45', 'Account': '1000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '12/25/2021 22:53', 'Account': '504', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 504.0, 'Income/Expense': 'Expense', 'Amount': 504.0, 'Currency': 'INR'}
{'Date': '12/25/2021 20:46', 'Account': '306', 'Category': 'Transportation', 'Subcategory': '', 'Note': '', 'INR': 306.0, 'Income/Expense': 'Expense', 'Amount': 306.0, 'Currency': 'INR'}
{'Date': '12/25/2021 19:50', 'Account': '400', 'Category': 'Self-development', 'Subcategory': '', 'Note': '', 'INR': 400.0, 'Income/Expense': 'Expense', 'Amount': 400.0, 'Currency': 'INR'}
{'Date': '12/18/2021 21:00', 'Account': '1000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '12/18/2021 19:52', 'Account': '400', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 400.0, 'Income/Expense': 'Income', 'Amount': 400.0, 'Currency': 'INR'}
{'Date': '12/18/2021 19:51', 'Account': '363.72', 'Category': 'Social Life', 'Subcategory': '', 'Note': '', 'INR': 363.72, 'Income/Expense': 'Expense', 'Amount': 363.72, 'Currency': 'INR'}
{'Date': '12/11/2021 9:22', 'Account': '1000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '12/6/2021 20:07', 'Account': '500', 'Category': 'Apparel', 'Subcategory': '', 'Note': '', 'INR': 500.0, 'Income/Expense': 'Expense', 'Amount': 500.0, 'Currency': 'INR'}
{'Date': '12/5/2021 18:41', 'Account': '1800', 'Category': 'Apparel', 'Subcategory': '', 'Note': '', 'INR': 1800.0, 'Income/Expense': 'Expense', 'Amount': 1800.0, 'Currency': 'INR'}
{'Date': '12/5/2021 12:23', 'Account': '4800', 'Category': 'Household', 'Subcategory': '', 'Note': '', 'INR': 4800.0, 'Income/Expense': 'Expense', 'Amount': 4800.0, 'Currency': 'INR'}
{'Date': '12/5/2021 12:23', 'Account': '8000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 8000.0, 'Income/Expense': 'Income', 'Amount': 8000.0, 'Currency': 'INR'}
{'Date': '12/4/2021 21:05', 'Account': '324', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 324.0, 'Income/Expense': 'Expense', 'Amount': 324.0, 'Currency': 'INR'}
{'Date': '12/3/2021 21:28', 'Account': '1000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 1000.0, 'Income/Expense': 'Income', 'Amount': 1000.0, 'Currency': 'INR'}
{'Date': '12/2/2021 20:07', 'Account': '504', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 504.0, 'Income/Expense': 'Expense', 'Amount': 504.0, 'Currency': 'INR'}
{'Date': '11/27/2021 13:46', 'Account': '2000', 'Category': 'Allowance', 'Subcategory': '', 'Note': '', 'INR': 2000.0, 'Income/Expense': 'Income', 'Amount': 2000.0, 'Currency': 'INR'}
{'Date': '11/21/2021 15:50', 'Account': '875', 'Category': 'Food', 'Subcategory': '', 'Note': '', 'INR': 875.0, 'Income/Expense': 'Expense', 'Amount': 875.0, 'Currency': 'INR'}
{'Date': '11/21/2021 13:30', 'Account': '2000', 'Category': 'Other', 'Subcategory': '', 'Note': '', 'INR': 2000.0, 'Income/Expense': 'Income', 'Amount': 2000.0, 'Currency': 'INR'}

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  9

Total Amount of All Transactions: 112672.28

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  10

Average Amount of All Transactions: 406.7591335740072

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit

Enter your choice (1-11):  12

Invalid choice. Please enter a number between 1 and 11.

Menu:
1. Print first 5 rows of the dataset
2. Create and print tuples of dates and categories
3. Find maximum and minimum amounts
4. Count transactions by category
5. Print unique categories
6. Print unique dates
7. Print total amount for a specific category
8. Find transactions above a certain amount
9. Calculate the total amount of all transactions
10. Calculate the average amount of all transactions
11. Exit